body{
    text-align: center;
    background-color: #b8e994;
}

#headerSection{
    padding: 10px;
}
#headerSection h1{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
}
#dropbox{
    padding: 10px;
    border-radius: 5px; 
    width: 15%;
}
#loginbtn{
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #3498bd ;
    color: white;
}
